html, body, #root {
  height: 100vh;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

.list-group-item{
  .list-group-item-content {
    position: relative;
    margin: 0.5em;
    .list-group-item-footer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.row-spacing-3 {
  .list-group-item{
    margin-bottom: 2em;
  }
}

@import '~bootstrap/scss/bootstrap.scss';
